$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1240px;
$xxl: 1440px;

$teal-0: #2c4a4d;
$teal-1: #375c60;
$teal-2: #59797d;
$teal-3: #b0c8c9;
$teal-4: #f0f6f7;
$gold: #d8bc62;
$tan: #f1eee3;
$light-tan: lighten($tan, 3%);
$dark-tan: darken($tan, 6%);
$peach: #f29273;
$pink: #fad5c6;

$input-border: #d4d1c8;

$white: #ffffff;
$black: #000000;

$purple: #59375e;
$blue: #4d8396;
$gold: #dbbd4e;
$teal: #94c3b4;
$peach: #f97d69;

$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);

$font-family-serif: "Playfair Display", serif;
$font-family-sans-serif: "Plus Jakarta Sans", sans-serif;
